.infrashtructure_kn_2_0_0 {
    font-family: var(--primary-font);
    padding: 55px 0 30px;
    &__title {
        font-family: var(--primary-font);
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px;
        padding-bottom: 10px;
        &.titleTop {
            font-size: 32px;
            padding-bottom: 0;
        }
    }

    &__line {
        border: 1px solid #ccc;
        width: 100px;
        display: block;
        margin: 0 auto;
    }

    &__desc {
        text-align: justify;
        text-align-last: center;
        display: block;
        margin: 30px auto;
    }

    &__content {
        margin-bottom: 40px;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
        flex-wrap: wrap;
    }

    &__itemLeft {
        width: 40%;
        margin: auto;
    }

    &__pic {
        width: 47%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__text {
        text-align: justify;
        padding-top: 10px;
        font-weight: 300;
    }

    .slider_kn{
        position: relative;
    }
    .pagination{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        &__item{
            background-color: #ffffff80;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            margin: 0 5px;
            line-height: 1;
            cursor: pointer;
            &.active{
                background-color: #fff;
            }
        }
    }
    .slider_kn2{
        position: relative;
        margin-bottom: 100px;
        .pagination{
            bottom: auto;
            top: calc(100% + 10px);
        }
        .pagination__item{
            opacity: 0.5;
            background-color: transparent;
            width: 100px;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
                margin-bottom: 0;
                display: block;
                object-fit: cover;
            }
            &.active{
                opacity: 1;
            }
        }
    }

    @media (max-width: 1440px) {
        &__title {
            &.titleTop {
                font-size: 25px;
            }
        }
    }

    @media (max-width: 767px) {
        &__title {
            font-size: 20px;
            &.titleTop {
                font-size: 24px;
            }
        }
        &__des {
            font-size: 16px;
        }
        &__item {
            flex-direction: column;
            &:nth-child(2),
            &:nth-child(4) {
                flex-direction: column-reverse;
            }
        }
        &__itemLeft {
            width: 100%;
        }
        &__pic {
            width: 100%;
        }
        .pagination{
            bottom: 5px;
            &__item{
                width: 15px;
                height: 15px;
                font-size: 10px;
                line-height: 0.5;
            }
        }
        .slider_kn2{
            margin-bottom: 50px;
            .pagination{
                width: 100%;
            }
            .pagination__item{
                flex: 1;
                height: 50px;
            }
        }
    }
}