$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
$color1:#004689;

body {
	margin: 0;
}
%icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.pc {
    @media #{$r414} {
        display: none;
    }
}

.mb {
    display: none;
}

.scrolltop {
    position: fixed;
    right: 20px;
    bottom: -4px;
    width: 305px;
    transition: ease-in-out 0.1s;
    color: #fff;
    display: flex;
    line-height: 35px;
    text-transform: uppercase;
    font-style: normal;
    opacity: 0.7;
    z-index: 15;
    @media #{$r414} {
        bottom: 140px;
        right: 5px;
        border-radius: 4px;
        ;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, .2);
    }
    img {
        width: 25px;
        height: 25px;
        margin: 5px auto;
        margin-right: 10px;
        @media #{$r414} {
            margin-right: 0;
        }
    }
    &:hover {
        opacity: 1
    }
    span {
        @media #{$r414} {
            display: none;
        }
    }
}

.regft {
    display: none;
    @media #{$r768} {
        display: flex;
        display: -webkit-flex;
        width: 100%;
        height: 60px;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        bottom: 0;
        z-index: 2;
        a {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin: 10px 0 10px 10px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            text-align: left;
            border-radius: 4px;
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
            padding-left: 20px;
            svg{
                width: 20px;
                height: 20px;
                fill: #fff;
                margin-right: 10px;
                margin-bottom: -5px;
                @media #{$r360}{
                    margin-right: 0;
                }
            }
            &:hover,
            &:focus {
                text-decoration: none;
            }
            &:nth-child(1) {
                background: $color1;
                box-shadow: 0px 3px 0px 0px #10384a;
                @media #{$r360}{
                    font-size: 12px;
                }
            }
            &:nth-child(2) {
                background: #cf9053;
                margin-right: 10px;
                box-shadow: 0px 2px 0px 0px #cf9053;
                @media #{$r375} {
                    font-size: 13px;
                    text-align: center;
                    padding-left: 0;
                    i {
                        display: none;
                    }
                }
                @media #{$r360}{
                    font-size: 12px;
                }
            }
        }
    }
}

.refuse {
    position: fixed;
    bottom: 0;
    background: #0042A4;
    color: #fff;
    font-style: italic;
    width: 100%;
    padding: 5px 10px;
    z-index: 5;
    @media #{$r414} {
        position: inherit;
        text-align: center;
        padding: 10px 0;
        z-index: 0;
        margin-bottom: 25px;
        font-size: 13px;
    }
}

.footer_8_0_0 {
    @extend %font1;

    .english {
        display: none;
    }

    &_social {
        padding: 10px 0;
        i {
            color: #CF9053;
            font-size: 20px;
        }
        a {
            color: #fff;
            margin: 0 5px;
        }
        &_right{
            margin-top: 20px;
        }
        &.mobi{
            display: none;
        }
    }

    &_main {
        background: #003269;
        padding: 40px 0;

        &_box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &_item {
        width: 18%;

        &:nth-child(1) {
            width: 25%;
            padding-right: 30px;
        }

        &_more {
            text-align: center;
            .regist{
                a {
                    background-color: #CF9053;
                    color: #fff;
                    font-size: 15px;
                    padding: 8px 0px;
                    width: 95%;
                    float: right;
                }
            }
        }

        i {
            color: #CF9053;
        }

        a {
            color: #fff;
        }

        ul {
            padding-left: 0;
            list-style: none;
            margin: 0;

            li {
                a {
                    color: #fff;
                    font-size: 15px;
                    display: block;
                    padding: 0 0 15px;
                    position: relative;
                    padding-left: 20px;

                    &::before {
                        content: "•";
                        padding-right: 10px;
                        color: #CF9053;
                        font-size: 20px;
                        position: absolute;
                        top: -10px;
                        left: 0;
                    }

                    &:hover {
                        color: #CF9053;
                    }

                }

            }
        }
    }

    &_address {
        padding-top: 35px;
        a {
            font-size: 15px;
            display: block;
            margin-bottom: 10px;
        }
    }
    &_regist{
        a{
            background-color: #CF9053;
            color: #fff;
            font-size: 16px;
            padding: 8px 0px;
            width: 95%;
            float: right;
            margin-bottom: 20px;
        }
    }
}

@media #{$r1024} {
    .footer_8_0_0 {
        &_logo {
            img {
                width: 100%;
            }
        }
        &_social{
            a{
                margin: 0 13px 10px;
            }
        }
        &_item {
            ul {
                li {
                    a {
                        padding: 0 0 10px;
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}

@media #{$r768} {
    .footer_8_0_0 {
        &_item {
            width: 25%;

            &:nth-child(1) {
                width: 30%;
            }
        }

        &_address {
            padding-top: 20px;
        }
    }
}

@media #{$r414} {
    .footer_8_0_0 {
        &_logo {
            text-align: center;

            img {
                width: auto;
            }
        }

        &_social{
            &.pici{
                display: none;
            }
            &.mobi{
                background: #00448F;
                display: block;
                margin-top: 0;
            }
            &_box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    margin: 0 5px;
                }
                i{
                    color: #CF9053;
                    font-size: 20px;
                }
            }
            &_right{
                margin: 0;
            }
        }

        &_main {
            padding: 30px 0 50px;
            &_box {
                width: 100%;
                margin: 0 auto;
                text-align: left;
            }
        }

        &_address {
            a {
                color: #A9AEB6;
                font-size: 14px;
            }
        }

        &_item {
            width: 50%;
            margin-bottom: 20px;

            &:nth-child(1) {
                width: 100%;
                padding-right: 0;
            }
            &_more{
                display: none;
            }
            ul {
                padding-left: 20px;
                text-align: left;
                li {
                    a {
                        display: inline-block;
                        padding: 0 0 10px;
                        padding-left: 0;
                        font-size: 12px;

                        &::before {
                            left: -20px;
                        }
                    }
                }
            }
        }
    }
}

@media #{$r375} {
    .footer_8_0_0 {
        &_social{
            &_right{
                a{
                    font-size: 12px;
                    i{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media #{$r320} {
    .footer_8_0_0 {
        &_logo {
            img {
                width: 100%;
            }
        }
        &_social{
            a{
                margin: 0 2px;
            }
        }
        &_item {
            margin-bottom: 20px;
        }
    }
}