.infrashtructure_kn_2_0_0 {
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px;
        padding-bottom: 10px;
        &.titleTop {
            font-size: 32px;
            padding-bottom: 0;
        }
    }

    &__line {
        border: 1px solid #ccc;
        width: 100px;
        display: block;
        margin: 0 auto;
    }

    &__desc {
        text-align: center;
        display: block;
        margin: 15px auto;
    }

    padding: 30px 0 0;

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
        flex-wrap: wrap;
    }

    &__itemLeft {
        width: 47%;
    }

    &__pic {
        width: 47%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__des {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
    }

    &__text {
        text-align: justify;
        padding-top: 10px;
        font-weight: 300;
    }

    @media (max-width: 767px) {
        &__title {
            font-size: 20px;
            &.titleTop {
                font-size: 24px;
            }
        }
        &__des {
            font-size: 16px;
        }
        &__item {
            flex-direction: column;
        }
        &__itemLeft {
            width: 100%;
        }
        &__pic {
            width: 100%;
        }
    }
}