.screen1,
.screen2 {
    img {
        max-width: 1140px;
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
}

.screen3 {
    &.loaded {
        background-image: url('../images/page3-bg.jpg');
    }

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 1140px;
    padding: 100px 0px 170px;

    &__box {
        width: 45%;
        margin-left: auto;
        margin-right: 0;
    }

    &__title {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 0;
        line-height: normal;
    }

    &__name {
        text-transform: uppercase;
        color: #efc006;
        font-weight: 600;
        font-size: 2.8rem;
        margin-bottom: 0;
        line-height: normal;
    }

    &__list {
        color: #fff;
        font-weight: 600;
        margin-top: 90px;
    }

    &__item {
        position: relative;
        margin-bottom: 50px;
        font-size: 1.3rem;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 101%;
            width: 140px;
            border-top: 2px dotted #fff;
        }

        &--1 {
            &::after {
                transform: rotate(150deg);
                top: 180%;
                width: 150px;
            }
        }

        &--3 {
            &::after {
                transform: rotate(210deg);
                top: -90%;
                width: 150px;
            }
        }
    }

    @media (max-width: 990px) {
        background-size: 990px;
        padding: 165px 0px 195px;

        &__title {
            font-size: 1.5rem;
        }

        &__name {
            font-size: 2rem;
        }

        &__list {
            margin-top: 40px;
        }

        &__item {
            font-size: 1.1rem;
            margin-bottom: 20px;

            &::after {
                width: 115px;
            }

            &--1::after {
                transform: rotate(158deg);
                top: 140%;
            }

            &--3::after {
                transform: rotate(200deg);
                top: -45%;
            }
        }
    }
}

.screen4 {
    padding: 40px 0;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
        color: #0d0d87;
        font-size: 1.5rem;
    }

    &__name {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
        color: #0d0d87;
        font-size: 2.3rem;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    &__thumb {
        width: 50%;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__text {
        flex: 1;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;
        font-size: 1.3rem;
        position: relative;
        margin-top: 120px;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            width: 50%;
            border-top: 2px dotted #000;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 50%;
            width: 30%;
            border-top: 2px dotted #000;
            transform: rotate(-90deg);
            transform-origin: right;
        }

        &--1 {
            &::before {
                right: 50%;
            }
        }

        &--2 {
            &::before {
                left: 50%;
            }
        }

        &--3 {
            &::after {
                display: none;
            }
        }
    }

    @media (max-width: 1200px) {
        &__text {
            margin-top: 95px;
        }
    }

    @media (max-width: 920px) {
        &__title {
            font-size: 1.2rem;
        }

        &__name {
            font-size: 1.8rem;
        }

        &__text {
            margin-top: 80px;
            font-size: 1.1rem;
        }
    }
}

.screen5 {
    &__box {
        background-color: #0d0d87;
        padding: 10px 0;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
        color: #efc006;
        font-size: 1.5rem;
    }

    &__name {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
        color: #efc006;
        font-size: 2.3rem;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    @media (max-width: 920px) {
        &__title {
            font-size: 1.2rem;
        }

        &__name {
            font-size: 1.8rem;
        }
    }
}

.storyDetail_kn_1_0_0 {
    &__note {
        background: #003C77;
        padding: 25px 5px;
    }

    &__textNote {
        color: #FEC465;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px;
        margin: 0;
        font-family: var(--primary-font);
    }

    &__titleDoctor {
        color: #003C77;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 42px;
        margin-top: 50px;
        font-family: var(--primary-font);
    }

    &__descDoctor {
        background: #E9F4FF;
        border-radius: 50px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        padding: 15px 0;
        width: 70%;
        display: block;
        margin: 0 auto;
        font-family: var(--primary-font);
    }

    @media (max-width: 950px) {
        &__descDoctor {
            width: 100%;
        }
    }
}

.doctor_kn_2_1_0 {
    font-family: var(--primary-font);

    &__banner {
        background: url(../images/banner.jpg) center 0 no-repeat;
        background-size: 1920px;
        min-height: 702px;
        display: flex;
        align-items: center;
    }

    &__text {
        margin-left: auto;
        width: 48%;
        color: #fff;
        margin-top: 120px;

        h1 {
            font-family: var(--primary-font);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 32px;
            display: block;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
    }

    &__main {
        padding: 30px 0;
    }

    &__category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        border-radius: 54px;
        border: 1px solid #000;
        padding: 5px 10px;
        margin-bottom: 20px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            text-align: center;
        }

        li {
            cursor: pointer;
            font-size: 16px;
            transition: all 0.2s linear;

            &:hover {
                font-weight: 700;
            }
        }

        button {
            font-size: 24px;
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    &__categoryActive {
        font-weight: 700;
    }

    &__doctor {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        width: 23%;
    }

    &__content {
        &:hover {
            .doctor_kn_2_1_0__name {
                color: #b5925b;
            }
        }
    }

    &__box {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #f4f4f4;
        padding: 15px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;

        span {
            font-size: 10px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #bdbdbd;
            display: inline-flex;
            width: 45px;
            height: 45px;
            justify-content: center;
            align-items: center;
            line-height: 11px;
        }
    }

    &__line {
        height: 1px;
        background: #bdbdbd;
        margin: 10px 0;
    }

    &__img {
        overflow: hidden;
        height: 400px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__degree {
        font-size: 12px;
        font-weight: 700;
    }

    &__name {
        font-family: var(--primary-font);
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #d0a868;
        transition: all 0.2s linear;
    }

    &__pos {
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 54px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            li {
                display: inline-flex;
                width: 30px;
                height: 30px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-size: 16px;
                transition: all 0.2s linear;
                border-radius: 50%;
                border: 1px solid transparent;

                &:hover {
                    border-color: #000;
                }
            }
        }

        button {
            font-size: 18px;
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    &__active {
        border-color: #000 !important;
    }

    @media (max-width: 1440px) {
        &__banner {
            background-size: 1440px;
            min-height: 525px;
        }
    }

    @media (max-width: 1200px) {
        &__img {
            height: 360px;
        }
    }

    @media (max-width: 1180px) {
        &__text {
            span {
                font-size: 28px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__img {
            height: 35vw;
        }
    }

    @media (max-width: 912px) {
        &__banner {
            background-size: 1080px;
            min-height: 396px;
        }

        &__item {
            width: 31%;
        }

        &__img {
            height: 40vw;
        }

        &__text {
            width: 50%;
            margin-top: 30px;

            span {
                font-size: 23px;
            }
        }
    }

    @media (max-width: 767px) {
        &__info span {
            position: absolute;
            top: -50px;
            right: 7px;
            background: rgba(255, 255, 255, .5);
        }

        &__item {
            position: relative;
            background: #f4f4f4;
        }

        &__name {
            font-size: 13px;
        }

        &__pos {
            display: none;
        }

        &__line {
            display: none;
        }

        &__banner {
            display: none;
        }

        &__doctor {
            justify-content: center;
        }

        &__category {
            li {
                font-size: 14px;
                display: none;

                &.doctor_kn_2_1_0__categoryActive {
                    display: block;
                }
            }
        }

        &__box {
            padding: 10px;
        }

        &__doctor {
            gap: 10px;
        }

        &__img {
            height: 270px;
        }

        &__item {
            width: 48%;
        }
    }

    @media (max-width: 374px) {
        &__item {
            width: 100%;
            max-width: 216px;
        }
    }
}