.banner_kn_2_0_0 {
    &__banner {
        background: url(../images/banner.jpg) center 0 no-repeat;
        background-size: 1920px;
        min-height: 702px;
        display: flex;
        align-items: center;
    }
    &__text {
        margin-left: auto;
        width: 48%;
        color: #fff;
        margin-top: 120px;
        span {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 32px;
            display: block;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
    }
    @media (max-width: 1440px) {
        &__banner {
            background-size: 1440px;
            min-height: 525px;
        }
    }
    @media (max-width: 1180px) {
        &__text {
            span {
                font-size: 28px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    @media (max-width: 912px) {
        &__banner {
            background-size: 1080px;
            min-height: 396px;
        }
        &__text {
            width: 50%;
            margin-top: 30px;
            span {
                font-size: 23px;
            }
        }
    }
    @media (max-width: 767px) {
        &__banner {
            display: none;
        }
        &__item {
            p {
                font-size: 14px;
            }
            button {
                font-size: 12px;
                padding: 5px 10px;
            }
        }
    }
    @media (max-width: 350px) {
        &__box {
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
        &__item {
            p {
                font-size: 14px;
            }
            button {
                font-size: 12px;
                padding: 5px 10px;
            }
        }
    }
}
